@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

html {
  /* margin: 0; */
}

body {
	margin: auto;
  background: #1b1b32;
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin: 50px auto 0 auto;
  box-sizing: border-box;
  max-width: 720px;
}

@media (max-width:780px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width:570px) {
  .container {
    max-width: 540px;
  }
}

header {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

#title, p {
  margin: 0 0 8px 0;
  text-align: center;
}

#description {
  font-style: italic;
  font-weight: 200;
  font-size: 18px;
}

#survey-form {
  display: inline-block;
  background-color: rgba(27, 27, 50, 0.8);
  padding: 40px;
  margin-bottom: 0;
  text-align: left;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
}

#form-group {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 4px;
}

label, #form-group p {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  font-weight: 800;
  font-size: 18px;
}

#name,
#email,
#number,
#dropdown,
select,
textarea,
button {
  box-sizing: border-box;
  margin: 0;
  display: block;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  color: #495057;
  padding: 6px 12px;
}

span {
  font-size: 14px;
  margin-left: 4px;
  box-sizing: border-box;
  line-height: 1.6;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  border: 1px solid rgb(118, 118, 118);
  padding: 10px;
  resize: vertical;
  min-height: 120px;
}

#submit {
  background-color: #37af65;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 12px;
}